
/*  开始界面 start  */
/*游戏的背景*/
.game-wrapper {
    position: relative;
    top: 100px;
    
    margin: 0 auto;
    width: 343px;
    height: 480px;
    
    background-image: url("../images/bg.jpg");

    overflow: hidden;
}

/*开始界面的标题*/
.game-title {
    position: absolute;
    top: 100px;
    left: 53px;
    
    width: 236px;
    height: 77px;
    
    background-image: url("../images/head.jpg");

    transition: top .2s ease;
}

/*开始标题中的小鸟图片*/
.game-wrapper .bird {
    float: right;
    margin-top: 8px;
}

/*居中的开始按钮*/
.game-wrapper .start-btn {
    position: absolute;
    top: 250px;
    left: 129px;

    margin: 0;
    padding: 0;
    width: 85px;
    height: 29px;

    background-image: url("../images/start.jpg");

    cursor: pointer;
}

/*草地*/
.game-wrapper .grass {
    position: absolute;
    top: 423px;

    margin: 0;
    padding: 0;
    width: 343px;
    height: 14px;

    background-image: url("../images/banner.jpg");
}

/*草地1*/
.grass-land-one {
    left: 0;
}

/*草地2*/
.grass-land-two {
    left: 343px;
}

/*  开始界面 end  */

/*  游戏界面 start   */
/*游戏中的小鸟*/
.game-wrapper .fly-bird {
    position: absolute;
    top: 200px;
    left: 50px;
    z-index: 10;

    width: 40px;
    height: 28px;

    background: url('../images/bird0.png') no-repeat;

    transition: top .05s ease;
}

/*上管道容器*/
.game-wrapper .up-block-wrapper {
    position: absolute;
    top: 0;
    left: 450px;
    /*z-index: 10;*/
    width: 62px;
}

/*上管道底座*/
.up-block-wrapper .up-div-mod {
    width: 100%;

    background: url("../images/up_mod.png") repeat-y;
}

/*上管道管道口*/
.up-block-wrapper .up-div-pipe {
    width: 100%;

    background: url("../images/up_pipe.png") no-repeat;
}

/*下管道容器*/
.game-wrapper .down-block-wrapper {
    position: absolute;
    /*top: 360px;*/
    left: 450px;
    /*z-index: 10;*/
    width: 62px;
}

/*下管道底座*/
.down-block-wrapper .down-div-mod {
    width: 100%;
    background: url("../images/down_mod.png") repeat-y;
}

/*下管道管道口*/
.down-block-wrapper .down-div-pipe {
    width: 100%;
    background: url("../images/down_pipe.png") no-repeat;
}

/*计分器*/
.score {
    position: absolute;
    left: 50%;
    top: 25px;
    z-index: 10;

    height: 39px;
    width: auto;
    margin-left: -14px;

    overflow: hidden;
}

.score-playing div {
    display: none;
    float: left;
    width: 28px;
    height: 39px;

    background: url("../images/0.jpg");
}

/*  游戏界面 end   */

/*  结束界面 start  */
.game-over {
    position: absolute;
    top: 100px;
    left: 39px;
    z-index: 11;

    display: none;
    width: 270px;
    height: 217px;

    text-align: center;
}

.game-over div {
    display: inline-block;
}

/*游戏结束时显示的图标*/
.game-over .game-over-icon {
    width: 221px;
    height: 40px;

    background: url("../images/game_over.jpg");
}

/*游戏结束时的分数面板*/
.game-over .game-info {
    position: relative;

    width: 269px;
    height: 135px;

    background: url("../images/message.jpg");
}

.game-over .game-info .current-score,
.game-over .game-info .best-score {
    position: absolute;
}

.game-info .current-score div,
.game-info .best-score div {
    display: inline-block;
    float: left;
    width: 16px;
    height: 20px;
}

.game-info .current-score div.cur-unit,
.game-info .best-score div.bs-unit {
    display: inline-block;
    background: url("../images/number_score_00.png");
}
.game-over .game-info .current-score {
    top: 38px;
    right: 25px;
}

.game-over .game-info .best-score {
    bottom: 28px;
    right: 25px;
}

/*游戏结束时的重新开始按钮*/
.game-over .game-restart {
    margin-top: 3px;

    width: 96px;
    height: 33px;

    background: url("../images/ok.jpg");

    cursor: pointer;
}
/*  结束界面 end  */